

:root {
  --colorHeader: #1e00ff;
  --colorAbot: #ffe600;
  --colorTechnologies: #ff0033;
  --colorcards: #00eeff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body {
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  width: 8.5px;
  background: rgba(0, 0, 0, 0.95);
}
::-webkit-scrollbar-thumb {
  height: 55px;
  border-radius: 5px;
  background: linear-gradient(to top, #afb2b8,  #070a0f);
}


/* ------------------------------ Nav -------------------------------- */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 3.125rem;
  z-index: 1000;
  transition: 0.6s;
}

.nav .logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 2.7875rem;
  font-weight: 800;
  cursor: default;
  white-space: nowrap;
  /* text-shadow:
   -2.3px 1.3px 0 #ff004c,
   2.3px -1.3px 0 #00eeff; */
}
.nav .logo span {
  font-family: sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.nav .logo span:nth-child(3) {
  color: rgb(0, 119, 255);
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav li {
  list-style: none;
}
.nav li a {
  margin-left: 2rem;
  text-decoration: none;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: .7px;
  padding: 7px 15px;
  border: 1px solid rgba(134, 134, 134, 0);
  border-radius: 45px;
  transition: 0.4s;
  font-size: 1.135rem;
}
.nav li a:hover {
  border: 1px outset rgb(144, 165, 165);
}
.nav li a:hover::before {
  border-radius: 45px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow:
  0 0 5px #3300eb8e,
  0 0 15px #0077ff5e,
  0 0 30px #8d00eb8e;
  z-index: -1;  
  background-image: radial-gradient(circle at 90.56% -7.92%, #CF0406 0, #8d02ff 25%, #5900ff 50%, #2600ff 75%, #ea000e 100%);
}



/* ------------------------------ Sticky -------------------------------- */
.sticky {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.89);
  padding: 5px 50px;
  transition: 0.6s;
  backdrop-filter: blur(15px);
}
.sticky li a {
  margin-left: 19px;
  color: #ffffff;
  text-shadow: none;
  font-size: 18px;
}
.sticky .logo {
  text-shadow: none;
}


/* ------------------------------ Heacder -------------------------------- */
.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
  background-color: rgb(1,0,28);
  background-image: radial-gradient(circle, rgba(1,0,28,1) 0%, rgba(0,0,0,1) 100%);
}
.header .section {
  width: 70%;
}
.header h1 {
  color: #eef2f5;
  font-size: 3.5rem;
  line-height: 2.9rem;
  width: 100%;
  margin-bottom: 0.6875rem;
  white-space: nowrap;
}
.header h1 span {
  font-size: 4.75rem;
  color: #ff0055;
  font-family: sans-serif;
}
.header p {
  font-size: 1.525rem;
  color: rgb(228, 228, 228);
  width: 90%;
  margin-top: 0;
}
.header .imagenHead {
  position: relative;
  width: 32%;
  height: 14.5rem;
  border-radius: 20px;
  filter: saturate(1.8);
  box-shadow: 0px 9px 5px -6px var(--colorHeader);
  animation: Mando 1.85s infinite alternate ease-in-out;
  background-size: cover;
}
@keyframes Mando {
  to { 
    transform: translate(0,35px);
  }
  from {
    transform: translate(0,-35px) scale(1.078);
    box-shadow: 0px 9px 5px -6px #4400ff;
  }
}


.titles {
  color: #fff;
  width: 45%;
  text-align: center;
  font-size: 5rem;
  margin: 1.25rem 0 0.625rem 0;
  font-family: "Nunito" sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

/* ------------------------------ About -------------------------------- */
.about {
  min-height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3.65rem 1.25rem;
  background-image: linear-gradient(#000, #202020);
}
.about  h2 {
  border-bottom: 2.5px solid rgb(255, 255, 255);
}
.about .presentacion {
  width: 80%;
}
.about .perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px 40px 40px 20px;
  flex-direction: row;
}
.about .slider {
  width: 260px;
  overflow: hidden;
}
.slider ul {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 11s 2s infinite alternate linear;
  animation: name duration timing-function delay iteration-count direction fill-mode;
  width: 300%;
  height: 100%;
  padding: 0;
}
.slider li {
  width: 100%;
  list-style: none;
}

.about .slider img {
  object-fit: cover;
  width: 250px;
  height: 300px;
  border-radius: 5px;
}
@keyframes slide {
  0% {margin-left: 0;} 
  25%{ margin-left: 0;}

  45% {margin-left: -100%;} 
  65% {margin-left: -100%;}

  75% {margin-left: -200%;} 
  100% {margin-left: -200%;}
}
.about h5{
  color: var(--colorAbot);
  font-size: 2.8725rem;
  font-weight: 700;
  margin: 0;
  padding: 0 20px;
}
.about p {
  padding: 0 20px;
  padding-bottom: 10px;
  color: rgb(228, 228, 228);
  font-size: 1.5225rem;
}
.about a {
  padding: 9px 21px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 1px #fff;
  background-color: #115193;
  margin: 0 20px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgb(17, 33, 39);
  border: 1px outset rgb(0, 47, 255);
  font-size: 1.35rem;
}



/* ------------------------------ technologies -------------------------------- */
.technologies {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 3.65em 1.25em;
}
.technologies h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  border-bottom: 2.5px solid var(--colorTechnologies);
  text-shadow: 3px 3px 2px #000;
}
.technologies .services {
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technologies .contenido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 74%;
  margin: 0 20px;
  height: 100%;
}
.reverse {
  flex-direction: row-reverse;
}
.reverse .contenido {
  border-left: none;
}
.technologies .zoom {
  width: 50%;
  height: 290px;
  overflow: hidden;
  border-right: 5px solid var(--colorTechnologies);
  margin-right: 10px;
}
.technologies .reverse .zoom {
  border-right: none;
  margin-right: 0;
  margin-left: 10px;
  border-left: 5px solid var(--colorTechnologies);
}
.technologies img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: .4s;
}
.technologies img:hover {
  transform: scale(1.18);
}
.technologies h5 {
  font-size: 2.95em;
  margin: 0 0 5px 0;
  color: var(--colorTechnologies);
  letter-spacing: .45px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.technologies h5 span {
  color: rgb(22, 11, 11);
}
.technologies p {
  font-size: 1.335em;
  margin: 0;
  color: #000000;
}



/* ------------------------------ Portfolio -------------------------------- */
.portfolio {
  min-height: 90vh;
  display: grid;
  background-color: #131922;
  grid-template-columns: repeat(auto-fill, minmax(24.375rem, 1fr));
  row-gap: 55px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 3.65rem 1.25rem;
}
.portfolio h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  border-bottom: 2.5px solid var(--colorcards);
}
.portfolio .cards {
  position: relative;
  width: 340px;
  height: 400px;
  background-color: #17202a;
  border-radius: 20px;
  box-shadow: 0 3px rgb(23, 33, 46);
  overflow: hidden;
  transition: 0.4s;
}
.portfolio .cards:hover {
  transform: scale(1.048);
  box-shadow: 0 4px var(--colorcards);
}
.portfolio .ImgBox {
  position: absolute;
  top: -150px;
  left: 50%;
  clip-path: circle();
  transform: translateX(-50%);
  width: 400px;
  height: 400px;
  background-image: linear-gradient(135deg,#00eeff,#b700ff);
}
.portfolio .ImgBox::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -16px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 100000000;
  border-radius: 50%;
}
.portfolio .ImgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards .textBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 27px;
}
.portfolio h5 {
  font-size: 2.275rem;
  color: #fff;
  text-align: center;
  margin: 0;
}
.portfolio p {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
.portfolio a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 24px;
  background-color: #097ec2;
  border-radius: 7.5px;
  margin-top: 15px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}
.portfolio a:hover {
  background-color: #0c5f8f;
}



/* ------------------------------ Contact-------------------------------- */
.contact {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}
.contact h4 {
  font-size: 4.78375rem;
  color: rgb(236, 236, 236);
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.contact a {
  font-size: 1.55rem;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: 0.37s;
}
.contact a:nth-child(2):hover {
  transform: scale(1.2);
  color: #0044ff;
}
.contact a:nth-child(3):hover {
  transform: scale(1.2);
  color: #ff00ff;
}
.contact a:nth-child(4):hover {
  transform: scale(1.2);
  color: #00e1ff;
}
.contact a:nth-child(5):hover {
  transform: scale(1.2);
  color: #ff1515;
}
.contact p {
  text-align: center;
  font-size: 18px;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #a5a5a5;
  margin: 0;
}



/* ------------------------------ 1000px -------------------------------- */
@media (max-width: 1070px) {
  /* Nav */
  .nav {
    padding: 20px 40px;
  }
  .nav .logo {
    font-size: 1.875rem;
    flex-shrink: 2;
  }
  .nav li a {
    margin-left: 11px;
    padding: 5px 11px;
    flex-shrink: 1;
  }
  /* Sticky */
  .sticky {
    padding: 5px 35px;
  }
  .sticky li a {
    margin-left: 11px;
  }
  .sticky .logo {
    font-size: 1.8125rem;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 130px 100px 50px 100px;
  }
  .header .section {
    width: 100%;
  }
  .header h1 {
    font-size: 2.55875rem;
    line-height: 2.275rem;
    margin: 0;
    margin-bottom: 15px;
  }
  .header h1 span {
    font-size: 4.5375rem;
    margin-bottom: 0;
  }
  .header p {
    font-size: 1.355rem;
    width: 95%;
    margin: 0;
  }
  .header .imagenHead {
    width: 20rem;
    height: 11.25rem;
    margin-top: 55px;
  }
  .about .perfil {
    flex-direction: column-reverse;
  }
  .about .presentacion {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .about img {
    height: 250px;
  }
  .about h5 {
    padding: 0;
  }
  .about p {
    font-size: 1.2975rem;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }
  .about a {
    margin: 0;
    order: 3;
  }

  .technologies {
    padding-left: 0;
    padding-right: 0;
  }
  .technologies .services {
    padding: 1rem 0 5rem 0;
    border-radius: 10px;
    flex-direction: column;
  }
  .technologies .contenido {
    padding: 0;
    width: 92%;
  }
  .technologies h5 {
    margin: 10px;
    text-align: center;
  }
  .technologies .zoom,
  .technologies .reverse .zoom {
    border-left: none;
    border-right: none;
    border-bottom: 5px solid var(--colorTechnologies);
  }
}



.menu-responsive {
  display: none;
}



/* ------------------------------ 780px -------------------------------- */
@media (max-width: 780px) {
  .sticky {
    height: 63px;
  }
  #IDMenu ul {
    transform: translate(-200%);
  }
  .menu-responsive {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    margin: 15px;
  }
  .menu-responsive .line {
    margin: 5px;
    height: 3px;
    width: 25px;
    background-color: #fff;
  }
  #IDMenu.menu ul {
    transform: translate(0%);
    position: absolute;
    top: 63px;
    left: 0;
    height: 93vh;
    width: 100%;
    flex-direction: column;
    background-color: #000;
    margin: 0;
    padding: 0;
  }
  #IDMenu.menu li {
    margin: 30px 0;
  }
  #IDMenu.menu li a {
    font-size: 30px;
    margin: 0;
    padding: 9px 55px;
  }

  .header {
    padding: 130px 50px;
  }
  .header h1 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .header h1 span {
    font-size: 4.0625rem;
  }
  .header p {
    font-size: 1.3125rem;
    width: 100%;
  }

  .titles {
    width: 75%;
    text-align: center;
    font-size: 4rem;
    margin: 1.25rem 0 0.625rem 0;
    font-family: "Nunito" sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
  }

  .about {
    padding: 0.75rem;
    height: 100%;
  }
  .about .perfil {
    margin: 0 40px 20px;
  }
  .about img {
    margin: 17px 0;
  }
  .about h5 {
    font-size: 2.572rem;
  }
  .about p {
    padding: 0.7rem 0 1.125rem 0;
    font-size: 1.23rem;
    margin: 0;
  }
  .technologies .zoom {
    width: 80%;
  }
}


/* ------------------------------ 570px -------------------------------- */
@media (max-width: 570px) {
  .nav {
    padding: 10px 20px;
  }
  .nav .logo {
    font-size: 28px;
  }
  .sticky {
    padding: 5px 20px;
  }
  .header {
    min-height: 95vh;
    padding: 80px 15px 70px 15px;
  }
  .header h1 span {
    font-size: 45px;
  }
  .header h1 {
    font-size: 30px;
    line-height: 28px;
  }
  .header p {
    margin-top: 0;
    font-size: 19px;
    width: 100%;
    color: rgb(228, 233, 238);
  }
  .header .imagenHead {
    width: 240px;
    height: 130px;
    border-radius: 30px;
  }


  .about .perfil {
    margin: 5px;
  }
  .about h5 {
    font-size: 1.75rem;
  }
  .about p {
    font-size: 1.32rem;
  }

  .technologies {
    font-size: 12px;
    padding: 36px 0;
  }
  .technologies p {
    font-size: 1.32rem; 
  }

  .portfolio {
    padding: 0.78rem;
  }


  .contact p {
    font-size: 16px;
    padding: 20px;
  }
}
 @media (max-width: 375px) {
  .titles {
    width: auto;
  }
  .portfolio {
    grid-template-columns: 80%;
    
  }
  .portfolio .cards {
    width: 300px;
  }
} 