@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::root {
  --colorHome: #101638;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

/* -----------------------------------------------------------------------------------------------------------------  ScrollBar  ----------------------------------
--------------------------------------------------------------------------------*/
::-webkit-scrollbar {
  position: absolute;
  width: 8.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #070707;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(#070707, #e2f3f5);
  border-radius: 15px;
}

/* ------------------------------------------------------------------------------------------------------------------  Nav  ---------------------------------------
--------------------------------------------------------------------------------*/
.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}
.stars span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4),
    0 0 12px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(255, 255, 255, 1);
    animation: stars 3s linear 1s infinite;
    transition: 0.6s;
    z-index: 1000;
}
span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background-image: linear-gradient(90deg, #fff, transparent);
}
@keyframes stars {
  0% {
    transform: rotate(315deg) translate(0);
    opacity: 1;

  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translate(-1150px);
    opacity: 0;

  }
}
span:nth-child(1) {
  top: -10px;
  right: 150px;
  left: initial;
  animation-delay: 3s;
  animation-duration: 11s;
}
span:nth-child(2) {
  top: 300px;
  left: initial;
  right: -170px;
  animation-delay: 1;
  animation-duration: 8s;
}
span:nth-child(3) {
  top: -70px;
  left: initial;
  right: -100px;
  animation-delay: 2s;
  animation-duration: 20s;
}
span:nth-child(4) {
  top: -10px;
  left: initial;
  right: 400px;
  animation-delay: 0.6s;
  animation-duration: 10s;
}
/* .star-random {
  left: inherit;
  bottom: -10px;
  right: -30px;
  animation-delay: 0.6s;
  animation-duration: 10s;
} */
/* ------------------------------------------------------------------------------------------------------------------  Nav  ---------------------------------------
--------------------------------------------------------------------------------*/
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 68px;
  z-index: 10000;
}
.nav__logo {
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__menu__li {
  list-style: none;
  margin-left: 20px;
}
.nav__menu__a {
  font-size: 18.5px;
  color: #fff;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 50px;
}
.nav__menu__a.active {
  background-color: #3d5af1;
  margin-right: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------  Home  --------------------------------------
--------------------------------------------------------------------------------*/
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  background-color: rgb(16, 22, 56);
  background: radial-gradient(50% 50% at 50% 50%, #101638 0%, #000000 100%);
}
.home::before {
  content: "";
  width: 100%;
  height: 42px;
  position: absolute;
  left: 0;
  bottom: -7px;
  background-image: linear-gradient(transparent, #050711);
}
/* .home {
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.home__text {
  position: relative;
  padding: 30px;
  background-image: linear-gradient(
    93.64deg,
    rgb(25 28 47 / 14%) -9.83%,
    rgba(41, 41, 41, 0.10) 111.81%
  );
  border-radius: 30px;
  z-index: 200;
}
.home__title {
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 1px;
}
.home__title.h2 {
  font-weight: 700;
  font-size: 40px;
  color: #f9feff;
}
.home__title.h1 {
  font-size: 58px;
  margin: 0;
  margin-top: -10px;
  color: #22d1ee;
}
.home__title.h3 {
  margin-top: -5px;
  font-size: 23px;
  color: #e2f3f5;
}
.home__paragraph {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 0.78px;
  margin-top: 30px;
  margin-bottom: 0;
  max-width: 850px;
  color: #e2f3f5;
  line-height: 35px;
}
.home__container-img {
  position: relative;
  z-index: 200;
}
.home__container-img__img {
  position: relative;
  width: 400px;
  height: 420px;
  object-fit: cover;
  z-index: 100;
}

.home__container-img::after {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: linear-gradient(342deg, #3a0e0e54, #3d5bf154);
  border-radius: 50%;
  filter: blur(31px);
}

/* -----------------------------------------------------------------------------------------------------------------  What-I-Do  ----------------------------------
--------------------------------------------------------------------------------*/
.circle {
  position: absolute;
  width: 811px;
  height: 656px;
  left: -363px;
  top: -209px;
  background-image: linear-gradient(
    17deg,
    rgba(14, 21, 58, 0.4872) 14.28%,
    rgba(14, 21, 58, 0) 90.73%
  );
  border-radius: 50%;
  filter: blur(25px);
}
.circle2 {
  position: absolute;
  width: 811px;
  height: 656px;
  left: 892px;
  top: 349px;
  background-image: linear-gradient(
    25deg,
    rgba(12, 23, 36, 0) 14.28%,
    rgba(10, 16, 45, 0.58) 90.73%
  );
  border-radius: 50%;
  filter: blur(25px);
}
.what-i-do {
  position: relative;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  padding: 52px 43px;
  background-image: radial-gradient(
    61.49% 194.54% at 50% 50%,
    #060a1a 0%,
    #050712 0.01%,
    #03050c 100%
  );
}
.what-i-do__title {
  position: relative;
  font-size: 53px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  border-radius: 30px;
  padding: 20px;
  background-image: linear-gradient(
    93.64deg,
    rgba(14, 21, 58, 0.22) -9.83%,
    rgba(41, 41, 41, 0.0198) 111.81%
  );
  margin-bottom: 60px;
  z-index: 100;
}
.what-i-do__container-divs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 70px;
}
.what-i-do__information {
  max-width: 524px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}
.what-i-do__information__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: #22d1ee;
}
.what-i-do__information__paragraph {
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 32px;
  color: #e2f3f5;
}

/* -----------------------------------------------------------------------------------------------------------------  What-I-Do  ----------------------------------
--------------------------------------------------------------------------------*/
.projects {
  min-height: 100vh;
  background-image: radial-gradient(
    61.49% 194.54% at 50% 50%,
    #060a1a 0%,
    #050712 0.01%,
    #03050c 100%
  );
  padding: 52px 43px;
}

/* -----------------------------------------------------------------------------------------------------------------  Contact  ------------------------------------
--------------------------------------------------------------------------------*/
.contact {
  min-height: 100vh;
  background-image: radial-gradient(
    61.49% 194.54% at 50% 50%,
    #060a1a 0%,
    #050712 0.01%,
    #03050c 100%
  );
}
