* {
  box-sizing: border-box;
}
*::selection {
  background-color: #3d5bf159;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  position: absolute;
  width: 8.5px;
}
::-webkit-scrollbar-track {
  background: #070707;
}
::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(#070707, #e2f3f5);
  border-radius: 15px;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 75px;
  transition: 0.6s;
  z-index: 10000;
}
.nav__logo {
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__menu__li {
  list-style: none;
  margin-left: 45px;
}
.nav__menu__a {
  font-weight: 300;
  font-size: 1.38em;
  color: #fff;
  text-decoration: none;
  padding: 7px 26px;
  border-radius: 40px;
  transition: background-color 0.4s;
}
.active,
.nav__menu__a:hover {
  background-color: #3d5af1;
}
.sticky {
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(1px);
  padding: 5px 60px;
}
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  background-color: rgb(16, 22, 56);
  background: radial-gradient(50% 50% at 50% 50%, #101638 0%, #000 100%);
}
.home::after {
  content: "";
  width: 100%;
  height: 42px;
  position: absolute;
  left: 0;
  bottom: -7px;
  background-image: linear-gradient(transparent, #050711);
}
.home__text {
  padding: 33px 35px 38px;
  background-image: linear-gradient(
    93.64deg,
    rgb(25 28 47 / 18%) -9.83%,
    rgba(41, 41, 41, 0.1) 111.81%
  );
  border-radius: 33px;
  z-index: 200;
}
.home__title {
  white-space: nowrap;
  letter-spacing: 1px;
}
.home__title.h2 {
  font-size: 2.73em;
  color: #f9feff;
}
.home__title.h1 {
  font-size: 3.95em;
  margin: 0;
  margin-top: -10px;
  color: #22d1ee;
}
.home__title.h3 {
  margin-top: -5px;
  font-size: 1.6em;
  color: #e2f3f5;
}
.home__paragraph {
  font-size: 1.575em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-bottom: 22px;
  max-width: 942px;
  color: #e2f3f5;
  line-height: 39px;
}
.social {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 35px;
}
.social a {
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.06);
  display: flex;
}
.svg-inline--fa {
  height: 1.563em;
  width: 1.563em;
  color: #e2f3f5;
  transition: 0.4s;
}
.fa-linkedin-in:hover {
  color: #0e76a8;
}
.fa-twitter:hover {
  color: #00acee;
}
.fa-instagram:hover {
  color: #c13584;
}
.social a:hover .svg-inline--fa{
  transform: scale(1.1);
  cursor: pointer;
}
.home__container-img {
  position: relative;
  z-index: 100;
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, transparent, #0000000a);
}
.home__container-img__img {
  position: relative;
  width: 425px;
  height: 500px;
}
.home__container-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    342deg,
    rgba(58, 14, 14, 0.2),
    rgba(61, 91, 241, 0.221)
  );
  border-radius: 50%;
  filter: blur(30px);
}
.services {
  padding-top: 100px;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(
    61.49% 194.54% at 50% 50%,
    #060a1a 0%,
    #050712 0.01%,
    #03050c 100%
  );
}
.titles {
  position: relative;
  text-align: center;
  font-size: 68px;
  font-weight: 700;
  letter-spacing: 2.4px;
  color: #fff;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 45px;
  z-index: 100;
}
.titles::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px auto 0;
  width: 188px;
  height: 10px;
  background-color: #3d5af1;
  border-radius: 5px;
}
.services .titles {
  margin-bottom: 25px;
}
.services__container-divs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 6%;
  row-gap: 60px;
}
.services__information {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  padding: 15px;
  z-index: 100;
}
.services__information__img {
  height: 300px;
  margin: 50px 0 30px;
}
.services__information__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 2.65em;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: #22d1ee;
}
.services__information__paragraph {
  max-width: 442px;
  font-weight: 300;
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 0.72px;
  line-height: 30px;
  color: #e2f3f5;
  margin: 0;
}
.projects {
  padding: 100px 50px 0;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(
    61.49% 194.54% at 50% 50%,
    #060a1a 0%,
    #050712 0.01%,
    #03050c 100%
  );
}
.projects__grid {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 30px;
  row-gap: 100px;
  padding: 40px 0;
}
.projects__card {
  max-width: 30rem;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  background-color: #04060f;
}
.projects__img {
  width: 100%;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, transparent, #04060f28);
  transition: 0.4s;
}
.projects__img:hover {
  transform: scale(1.05);
}
.projects__card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px 64px;
  text-align: center;
  color: #e2f3f5;
}
.projects__card__title {
  white-space: nowrap;
  font-size: 2.5em;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.projects__card__paragraph {
  max-width: 500px;
  font-size: 23px;
  font-weight: 300;
  margin: 10px 0 30px;
  line-height: 29px;
}
.projects__card__btn {
  font-size: 20px;
  padding: 15px 47px;
  background-color: #22d1ee;
  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 0.4px;
  color: #000000;
  box-shadow: rgb(34 209 238 / 95%) 1px 24px 26px -18px;
  transition: 0.6s;
}
.projects__card__btn:hover {
  background-color: #00f7ff;
  box-shadow: rgba(0, 247, 255, 0.75) 1px 30px 25px -13px;
}
.contact {
  min-height: 85vh;
  padding: 80px 0 40px;
  position: relative;
  background-image: radial-gradient(
    61.49% 194.54% at 50% 50%,
    #060a1a 0%,
    #050712 0.01%,
    #03050c 100%
  );
}
.contact__form {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact__form__title {
  margin-top: 18px;
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  width: 70%;
}
.contact__input {
  width: 70%;
  padding: 15px;
  background-color: #f8f8f8;
  outline: none;
  border: none;
  margin-top: 25px;
  border-radius: 7px;
}
.msg {
  height: 145px;
  background-color: #f8f8f8;
}
.contact__send {
  outline: none;
  border: none;
  margin-top: 35px;
  padding: 14px 100px;
  border-radius: 7px;
}
#mailto {
  position: absolute;
  bottom: 10px;
  opacity: 0;
}
.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  overflow-x: clip;
}
.stars span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: #ffffffb4;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.527),
    0 0 12px rgba(255, 255, 255, 0.719), 0 0 30px rgb(255, 0, 0);
  animation: stars 3s linear 1s infinite;
  transition: 0.6s;
}
span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 340px;
  height: 1px;
  background-image: linear-gradient(90deg, #fffafa, transparent);
}
@keyframes stars {
  0% {
    transform: rotate(315deg) translate(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translate(-1500px);
    opacity: 0;
  }
}
span:nth-child(1) {
  top: -0.625em;
  right: 9.375em;
  left: initial;
  animation-delay: 5s;
  animation-duration: 16.5s;
}
span:nth-child(2) {
  top: 6.25em;
  right: -10em;
  left: initial;
  animation-delay: 1s;
  animation-duration: 20s;
}
span:nth-child(3) {
  top: -0.625em;
  right: 25em;
  left: initial;
  animation-delay: 2s;
  animation-duration: 15.5s;
}
span:nth-child(4) {
  top: 40em;
  right: -7.5em;
  left: initial;
  animation-delay: 4s;
  animation-duration: 23s;
}
span:nth-child(5) {
  top: 71.25em;
  right: -6.25em;
  left: initial;
  animation-delay: 9s;
  animation-duration: 12s;
}
.btn-responsive {
  display: none;
}
@media (max-width: 1265px) {
  .nav {
    padding: 15px 35px;
  }
  .nav__menu__li {
    margin-left: 13px;
  }
  .nav__menu__a {
    padding: 6px 20px;
  }
  .home {
    padding: 45px 20px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .home__text {
    font-size: 14px;
  }
  .home__paragraph {
    margin-top: 20px;
    margin-bottom: 19px;
    line-height: 30px;
  }
  .home__container-img__img {
    width: 300px;
    height: 320px;
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, transparent, transparent, #04060f25);
  }
}
@media (max-width: 785px) {
  .nav {
    padding: 10px 15px;
  }
  .nav__menu__li {
    margin-left: 5px;
  }
  .nav__menu__a {
    font-size: 20px;
  }
  .home {
    justify-content: space-evenly;
  }
  .home__text {
    font-size: 11.3px;
  }
  .home__paragraph {
    line-height: 25px;
    margin-top: 13px;
  }
  .home__container-img__img {
    width: 270px;
    height: 290px;
  }
}
@media (max-width: 660px) {
  .nav__logo {
    height: 45px;
  }
  .nav__menu {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    row-gap: 80px;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    margin-top: 0;
    padding-left: 0;
    transition: 0.4s all;
    z-index: -1;
  }
  .menuResponsive.nav__menu {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.986);
  }
  .nav__menu__li {
    margin-left: 0;
  }
  .nav__menu__a {
    font-size: 27px;
    letter-spacing: 1px;
    padding: 8px 60px;
  }
  .btn-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 5.4px;
    padding: 10px;
    cursor: pointer;
  }
  .line {
    border-radius: 1px;
    height: 3.4px;
    width: 30px;
    background-color: #fff;
  }
  .line:nth-child(2) {
    width: 27px;
  }
  .line:nth-child(3) {
    width: 15.78px;
  }
  .home {
    padding-right: 0;
    padding-left: 0;
  }
  .home__title.h1 {
    font-size: 3.1em;
    line-height: 43px;
  }
  .services__information {
    font-size: 14px;
  }
  .projects {
    padding-left: 8.5%;
    padding-right: 8.5%;
  }
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 510px) {
  .home {
    min-height: 95vh;
  }
  .home__title.h2 {
    font-size: 2.15em;
  }
  .home__title.h1 {
    line-height: 39px;
    font-size: 2.6em;
  }
  .home__paragraph {
    letter-spacing: 0;
  }
  .home__container-img__img {
    width: 238px;
    height: 250px;
  }
  .titles {
    font-size: 41px;
    margin: 0 0 20px;
  }
  .titles::after {
    width: 124px;
  }
  .services__information {
    font-size: 12px;
  }
  .services__information__img {
    height: 220px;
  }
  .projects__card__paragraph {
    font-size: 17.5px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .projects__card__title {
    font-size: 1.85em;
  }
  .projects__card__btn {
    font-size: 17px;
  }
  .contact__form__title {
    font-size: 20px;
    width: 80%;
  }
  .contact__input {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .home__text {
    font-size: 11px;
    padding: 13px;
  }
  .home__title.h1 {
    font-size: 2.4em;
    margin-top: -1px;
    margin-bottom: 6px;
    white-space: inherit;
    line-height: 25px;
  }
  .home__title.h2 {
    font-size: 2em;
  }
  .projects__grid {
    grid-template-columns: 310px;
  }
}
