---
import Habilidades from "@/components/Habilidades.astro";
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import NavContact from "@/components/NavContact.astro";
import Projects from "@/components/Projects.astro";
import Slider from "@/components/Slider.astro";
import SobreMi from "@/components/SobreMi.astro";
---

<Layout title="Eduardo Maximiliano | Desarrollador Web & Diseñador UI/UX">
	<Header />
	<main>
		<section id="inicio">
			<article class="inicio__article">
				<h1 class="inicio__title">Hola, soy Maximiliano</h1>
				<h3 class="inicio__subtitle">Desarrollador Web Front-end</h3>
				<p class="inicio__text">
					Creativo, proactivo y entusiasta Desarrollador Web Front-end.
					Especializado en la implementacion del Diseño de interfaces y en la
					experiencia de usuario ideal.
				</p>
				<NavContact />
			</article>
			<img src="/images/logo.webp" alt="logo" />
		</section>
		<section id="proyectos">
			<h2><img src="/icons/laptop.svg" alt="laptop icon" />Proyectos</h2>
			<Projects />
		</section>
		<section id="habilidades">
			<h2><img src="/icons/tool.svg" alt="tool icon" /> Habilidades</h2>
			<Habilidades />
		</section>
		<section id="tecnologias">
			<h2>
				<img src="/icons/tecno.svg" alt="Tecnologias icono" /> Tecnologías
			</h2>
			<p class="tecnologias__text">
				Algunas de las tecnologías con las que trabajo.
			</p>
			<div class="slider-container">
				<Slider />
			</div>
		</section>
		<section id="sobre-mi">
			<h2>
				<img src="/icons/user.svg" alt="user" />
				Sobre mí
			</h2>
			<SobreMi />
		</section>
	</main>
</Layout>
<style>
	html {
		scroll-behavior: smooth;
	}
	main {
		max-width: 1100px;
		padding-inline: 20px;
		margin-inline: auto;
	}
	#inicio {
		display: flex;
		align-items: center;
		flex-wrap: wrap-reverse;
		margin-top: 100px;
		column-gap: 110px;
		row-gap: 24px;
	}
	.inicio__article {
		width: 100%;
		max-width: 660px;
	}
	.inicio__title {
		font-size: 40px;
		margin-bottom: 2px;
	}
	.inicio__subtitle {
		font-size: 24px;
		font-weight: 600;
		color: var(--primaryColor);
		margin-bottom: 20px;
	}
	.inicio__text {
		font-size: 24px;
		line-height: 130%;
	}
	#inicio img {
		width: 180px;
	}

	h2 {
		font-size: 32px;
		display: flex;
		align-items: center;
		column-gap: 15px;
		grid-column: span 2;
		padding-bottom: 38px;
		padding-top: 80px;
	}
	h2 img {
		height: 32px;
	}
	.slider-container {
		background-color: #18202e;
		padding: 40px 30px;
		border-radius: 30px;
	}
	.tecnologias__text {
		font-size: 22px;
		margin-bottom: 28px;
	}
</style>
<style is:global>
	@media (max-width: 850px) {
		nav ul {
			font-size: 14px !important;
			column-gap: 15px !important;
			padding-inline: 20px !important;
		}
		#inicio#inicio {
			margin-top: 50px;
		}
		#proyectos {
			.proyectos__grid {
				grid-template-columns: 1fr;

				.project {
					max-width: none;
				}
				p {
					text-wrap: pretty;
				}
			}
		}
		#habilidades .habilidades__grid {
			grid-template-columns: 1fr;
			grid-template-areas:
				"frontend"
				"diseño"
				"mantenimiento";
		}
		#tecnologias {
			.slider-container {
				padding: 25px 10px;
			}
			.slide {
				width: 100px;
			}
			.slide img {
				height: 45px;
			}
		}
		#sobre-mi {
			.sobre-mi__article {
				flex-wrap: wrap-reverse;
				justify-content: center;
				row-gap: 32px;
			}
			.sobre-mi__article div {
				width: 100%;
			}
			.sobre-mi__article p {
				max-width: none;
			}
		}
		button.btn {
			font-size: 18px !important;
		}
		button.btn img {
			height: 28px !important;
		}
	}
</style>
