<nav id="nav">
  <ul>
    <li><a aria-label="proyectos" href="/#proyectos">Proyectos</a></li>
    <li><a aria-label="habilidades" href="/#habilidades">Habilidades</a></li>
    <li><a aria-label="sobre-mi" href="/#sobre-mi">Sobre mi</a></li>
    <li><a aria-label="contacto" href="/#contacto">Contacto</a></li>
  </ul>
</nav>
<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("main > section");
    const navItems = document.querySelectorAll("nav a");

    const callback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("link-active");
            } else {
              item.classList.remove("link-active");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.25,
    });

    sections.forEach((section) => observer.observe(section));

    // Cleanup function
    window.onunload = () => observer.disconnect();
  });
</script>
<style>
  nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    z-index: 111;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    padding: 15px 35px;
    background-color: #232b3a;
    border-radius: 20px;
    border: 1px solid rgb(255 255 255 / 11%);
    backdrop-filter: blur(30px);
    background-color: rgb(35 43 58 / 80%);
    box-shadow:
      0px 0.309px 3.641px 0px rgba(0, 0, 0, 0.08),
      0px 0.782px 9.208px 0px rgba(0, 0, 0, 0.11),
      0px 1.595px 18.784px 0px rgba(0, 0, 0, 0.14),
      0px 3.285px 38.692px 0px rgba(0, 0, 0, 0.17),
      0px 9px 106px 0px rgba(0, 0, 0, 0.25);
  }
  li {
    list-style: none;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .link-active {
    color: var(--primaryColor);
  }
</style>
