<nav>
  <ul>
    <li><a href="/#proyectos">Proyectos</a></li>
    <li><a href="/#habilidades">Habilidades</a></li>
    <li><a href="/#sobre-mi">Sobre mi</a></li>
    <li><a href="/#contacto">Contacto</a></li>
  </ul>
</nav>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    padding: 20px 41px;
    background-color: #232b3a;
    border-radius: 20px;
  }
  li {
    list-style: none;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
</style>
