<article class="sobre-mi__article">
  <div>
    <p>
      Me llamo Maximiliano, soy de Acapulco, México
      <img
        src="/images/mexico.png"
        alt="Mexico flag"
        class="sobre-mi__article__flag"
      />. Estudio la carrera de <strong
        >Ingeniería en Sistemas Computacionales</strong
      >, donde he adquirido conocimientos sólidos que me permiten crear <strong
        >software de calidad</strong
      >
      en proyectos complejos.
    </p>
    <p>
      Actualmente, me encuentro inmerso en el desarrollo de aplicaciones web con
      JavaScript. Mi enfoque creativo y mi experiencia en el <strong
        >diseño UX/UI</strong
      > me permiten no solo crear <strong>aplicaciones funcionales</strong>,
      sino también atractivas y amigables.
    </p>
    <p>
      Me gusta <strong>llevar a cabo diseños complejos</strong> en código eficiente
      y de alto rendimiento que garantizan la fidelidad del diseño, interacción y
      funcionalidad excepcional al cliente.
    </p>
  </div>
  <img src="/images/logo.webp" alt="logo" />
</article>
<style>
  #sobre-mi {
    margin-top: 75px;
  }
  .sobre-mi__article {
    display: flex;
    font-size: 22px;
    justify-content: space-between;
  }
  .sobre-mi__article p {
    margin-bottom: 26px;
    max-width: 673px;
  }
  .sobre-mi__article strong {
    color: var(--primaryColor);
  }
  .sobre-mi__article__flag {
    width: 22px;
    margin-bottom: 2px;
    margin-left: 2px;
  }
  .sobre-mi__article > img {
    margin-top: 20px;
    width: 260px;
    height: 260px;
    border-radius: 50%;
  }
</style>
