---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta
			name="description"
			content="Creativo, proactivo y entusiasta Desarrollador Web Front-end. Especializado en la implementacion del Diseño de interfaces y en la experiencia de usuario ideal."
		/>
		<meta
			name="keywords"
			content="Eduardo Maximiliano,portafolio,desarrollador,desarrollador web,desarrollador front end,diseño web,diseñador web,ui ux,freelance,maximojsdev, maximodev, maximo4ever"
		/>
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Eduardo maximiliano" />
		<meta name="theme-color" content="#303443" />
		<meta property="og:image" content="/images/logo.webp" />
		<meta property="og:image:alt" content="MaximoJSDev - Logo" />

		<link rel="canonical" href="https://MaximoJSDev.github.io/" />
		<link rel="shortcut icon" href="/images/logo.webp" type="image/webp" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primaryColor: #006dff;
	}
	*,
	*::after,
	*::before {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	body {
		background-color: #0c1423;
		color: #fff;
		font-family: "Roboto";
	}
</style>
